@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'LeeSeoyun';
}

h1{
    background-color: lightpink;
    padding:20px;
    text-align: center;
    font-size: 40px;
}
h2{
    font-size: 30px;
}
span{
    font-size: 20px;
}
a{
    font-size: 20px;
}
