{% load static %}
<html>
    <head>
        <link rel = "stylesheet" href="{% static 'detail.css' %}">
        <a style="font-size: 30px;">재난</a>
    </head>
    <body>
        <div>
            <h1>{{  D_post2.title  }}</h1>
            <span>{{ D_post2.author }}</span>
            <span>{{ D_post2.upload_time }}</span>
            <div class="content">{{ D_post2.content }}</div>
            <br>
            <a href="{% url 'D_edit2' D_post2.id %}">▶수정하기</a>
            <br>
            <a href="{% url 'D_delete2' D_post2.id %}">▶삭제하기</a>
            <br>
            <a href="{% url 'list2' %}">▶홈으로 돌아가기</a>
        </div>
    </body>
</html>