{% load static %}
<html>
    <head>
        <link rel = "stylesheet" href="{% static 'list.css' %}">
        <title>drama</title>
        <a style="font-size:30px" href="{% url 'list' %}">책으로</a>
    </head>
    <body>
        <div class="content">
            <h1>무슨 드라마를 보았나요?</h1>
            <h2>로맨스</h2>
            <a href="{% url 'R_new2' %}">새로운 드라마 등록</a>
            <ul>
                {% for R_post2 in R_posts2 %}
                    <li><a href="{% url 'R_detail2' pk=R_post2.id %}">{{ R_post2.title }}</a>
                        <span>{{  R_post2.author }}</span>
                        <span>{{  R_post2.upload_time }}</span></li>
                {% endfor %}
            </ul>
            <h2>추리</h2>
            <a href="{% url 'M_new2' %}">새로운 드라마 등록</a>
            <ul>
                {% for M_post2 in M_posts2 %}
                    <li><a href="{% url 'M_detail2' pk=M_post2.id %}">{{ M_post2.title }}</a>
                        <span>{{  M_post2.author }}</span>
                        <span>{{  M_post2.upload_time }}</span></li>
                {% endfor %}
            </ul>
            <h2>재난</h2>
            <a href="{% url 'D_new2' %}">새로운 드라마 등록</a>
            <ul>
                {% for D_post2 in D_posts2 %}
                    <li><a href="{% url 'D_detail2' pk=D_post2.id %}">{{ D_post2.title }}</a>
                        <span>{{  D_post2.author }}</span>
                        <span>{{  D_post2.upload_time }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </body>

</html>