*{
    list-style-type: none;
    text-decoration-line: none;
}​

.content{
    margin-left: 40px;
}

button{
    /* 생략 */
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
    border: none;
    border-radius: 4px;
}

.post{
    border: solid 3px gray;
    width: 500px;
    padding: 10px 0px;
    margin: 10px 0px;
    font-size: 25px;
}

.post-1{
    margin-left: 10px;
}

.upload_time{
    color: #ccc;
    font-size: 15px;
}

.add{
    margin-left: 40px;
}