{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
<title>list</title>
{% endblock %}

{% block content %}
<div>
    <br>
    <h1> &nbsp; 🧑🏻‍🌾 Kannst du Deutsch sprechen?</h1>
    <br>
    <div class="text-bg-success p-3">
    &nbsp; &nbsp; <a href="{% url 'new' %}" class="link-warning">✍️새로운 글 만들기</a>
    <br>
    <br>
    <ul>
        {% for post in posts %}
        <li><a href="{% url 'detail' pk=post.id %}" class="link-light">{{ post.title }}</a>
            <span>{{post.upload_time}}</span></li>
        {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}