{% load static %}
<html>
    <head>
        <link rel = "stylesheet" href="{% static 'detail.css' %}">
        <a style="font-size: 30px;">재난</a>
    </head>
    <body>
        <div>
            <h1>{{  D_post.title  }}</h1>
            <span>{{ D_post.author }}</span>
            <span>{{ D_post.upload_time }}</span>
            <div class="content">{{ D_post.content }}</div>
            <br>
            <a href="{% url 'D_edit' D_post.id %}">▶수정하기</a>
            <br>
            <a href="{% url 'D_delete' D_post.id %}">▶삭제하기</a>
            <br>
            <a href="{% url 'list' %}">▶홈으로 돌아가기</a>
        </div>
    </body>
</html>