{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href="{% static 'detail.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <h1>책 수정하기</h1>

    <form action="{% url 'D_update' D_edit.pk %}" method="post">

        {% csrf_token %}
        <p>제목: <input type="text" name="title" value="{{D_edit.title}}"> </p>
        <p>작가 : <input type="text" name="author" value="{{D_edit.author}}"></p>
        본문 : <textarea name="content" cols="30" rows="10" > {{D_edit.content}} </textarea> 
        <button type="submit">수정하기</button>
        
    </form>
</body>
</html>