{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href="{% static 'css/detail.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <h1>새로운 책</h1>

    <form action="{% url 'M_create' %}" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.as_p }}
        <p>해시태그: <input type="text" name="hashtags" placeholder="해시태그 , 로 구분"> </p>
        <button type="submit">제출</button>
        
    </form>
</body>
</html>