{% load static %}
<html>
    <head>
        <link rel = "stylesheet" href="{% static 'detail.css' %}">
        <a style="font-size: 30px;">로맨스</a>
    </head>
    <body>
        <div>
            <h1>{{  R_post.title  }}</h1>
            <span>{{ R_post.author }}</span>
            <span>{{ R_post.upload_time }}</span>
            <div class="content">{{ R_post.content }}</div>
            <br>
            <a href="{% url 'R_edit' R_post.id %}">▶수정하기</a>
            <br>
            <a href="{% url 'R_delete' R_post.id %}">▶삭제하기</a>
            <br>
            <a href="{% url 'list' %}">▶홈으로 돌아가기</a>
        </div>
    </body>
</html>
