{% load static %}
<html>
    <head>
        <link rel = "stylesheet" href="{% static 'detail.css' %}">
        <a style="font-size: 30px;">로맨스</a>
    </head>
    <body>
        <div>
            <h1>{{  R_post.title  }}</h1>
            <div><span>
                {% for hashtag in hashtags.all %}
                #{{hashtag}}
                {% endfor %}
            </span>
            </div>
            <span>{{ R_post.author }}</span>
            <span>{{ R_post.upload_time }}</span>
            <div class="content">{{ R_post.content }}</div>
            <br>
            <a href="{% url 'R_edit' R_post.id %}">▶수정하기</a>
            <br>
            <a href="{% url 'R_delete' R_post.id %}">▶삭제하기</a>
            <br>
            <a href="{% url 'list' %}">▶홈으로 돌아가기</a>

            <br>
            <hr>
            <p><a class="add_comment" href="{% url 'add_comment' R_post.id %}">▶댓글달기</a></p>
            {% for comment in R_post.comments.all %}
                <div class="comment">
                    <strong class="username">{{ comment.username }}</strong>
                    <div class="date">{{ comment.created_at }}</div>
                    <p>{{ comment.comment_text|linebreaks }}</p>
                    <p><a href="{% url 'delete_comment' R_post_id=R_post.id comment_id=comment.id %}">▶댓글 삭제</a></p>
                </div>
            {% empty %}
            <p>No comment</p>
            {% endfor %}
        </div>
    </body>
</html>
