
{%extends 'base.html'%}
{%block head%}
<title>레시피 상세</title>
{%endblock%}

{%block content%}
    <div class="card" style="width: 100%;">
        <div class="card-body">
        <h1 class="display-5">{{recipe.title}}</h1>
        <hr>
        <div class="h6">
            재료: 
            {%for ingredient in recipe.ingredients.all%}
            <span>{{ingredient.name}}</span>
            {%endfor%}
        </div>
        <hr>
        <div>
            {%for hashtag in hashtags.all%}
            #{{hashtag}}
            {%endfor%}
        </div>
        <hr>
        <div class="upload_time" style="color: #ccc">{{recipe.upload_time}}</div>
        <hr>
        <div class="photo">
            <img src="{{recipe.photo.url}}" alt="" height="200px">
        </div>
        <div class="content" style="font-size: 25px"><b>{{recipe.content}}</b></div><br>
        </div>
    </div>
        <br>
    <div class="btn-group" role="group">
        <a class="btn btn-primary" href="{%url 'update' pk=recipe.id%}">수정하기</a>
        <a class="btn btn-primary" href="{%url 'delete' pk=recipe.id%}">삭제하기</a>
    </div>
    <br><br><a class="btn btn-primary" href="{%url 'main'%}">홈으로 돌아가기</a>
    <hr>
    <div>
        {%for comment in recipe.comments.all%} 
            {{comment.comment_text}}
            <a href="{%url 'comment_delete' recipe.id comment.id%}">삭제</a>
            <br>
        {%endfor%}
    </div>
    <div>
        <form action="{%url 'comment_create' recipe.id%}" method="POST">
            {%csrf_token%}
            {{comment_form}}
            <input type="submit">
        </form>
    </div>
{%endblock%}