{%extends 'base.html'%}

{%block head%}
<title>레시피 페이지</title>
{%endblock%}

{%block content%}
<form class="input-group mb-3" method="get" action="{%url 'search'%}">
    <input name="q" type="text" class="form-control" placeholder="search recipe" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">검색</button>
</form>
<a class="btn btn-primary" href="{%url 'create'%}" role="button">새로운 레시피 만들기</a>
<br><br>
<div class="list-group">
    {%for recipe in recipes%}
        <a class="list-group-item list-group-item-action h3" href="{%url 'detail' pk=recipe.id %}">{{recipe.title}}
            <br><span class="text-muted h5">{{recipe.upload_time}}</span>
        </a>
    {%endfor%}
</div>
<br>
{%endblock%}